{% if recipes %}
<ul class="recipes">
    {% for recipe in recipes %}
    <div class="recipe-title">
        <h4>
            <a class="menu-redirect" href="{{ url_for('menu.view_recipe', recipe_id=recipe.id) }}">
                {{ recipe.title }}
            </a>
        </h4>
    </div>
    <li class="recipe">
        <div class="user-thumbnail">
            <img class="img-rounded profile-thumbnail" src="{{ recipe.author.gravatar(size=40) }}">
        </div>
        <div class="recipe-date"> {{ moment(recipe.timestamp).fromNow() }}</div>
        <div class="recipe-content">
            <div class="recipe-author">
                {{ recipe.author.username }}
            </div>
            <div class="recipe-body>">
                {% if recipe.kcal_pers %}
                <p>{{ recipe.kcal_pers }} kcal per person</p>
                {% endif %}
                {{ recipe.short_ingredients_list(nmax=recipes_list_max) | safe }}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endif %}
