{% if recipes %}
<ul class="recipes">
    {% for recipe in recipes %}
    <div class="recipe-title">
        <h4>
            <a class="menu-redirect" href="{{ url_for('menu.view_recipe', recipe_id=recipe.id) }}">
                {{ recipe.title }}
            </a>
        </h4>
    </div>
    <li class="recipe" onclick="location.href = '{{ url_for('menu.view_recipe', recipe_id=recipe.id) }}';">
        <div class="user-thumbnail">
            <img class="img-rounded profile-thumbnail" src="{{ recipe.author.gravatar(size=40) }}">
        </div>
        {% if recipe.img_thumbnail_url %}
        <div class="recipe-thumbnail">
            <a href="{{ recipe.img_display_url }}"><img src="{{ recipe.img_thumbnail_url }}" alt="img" border="0" ,
                    width="70px"></a>
        </div>
        {% endif %}

        <div class="recipe-content">
            <div class="recipe-author">
                {{ recipe.author.username }}
            </div>
            <div class="recipe-body>">
                {% if recipe.kcal_pers %}
                <p>{{ '%d'|format(recipe.kcal_pers|int) }} kcal per person</p>
                {% endif %}
                {% if recipe.cooking_time_min %}
                <p>Cooking time: {{ recipe.cooking_time_hh_mm_ss() }}</p>
                {% endif %}
                <!-- {{ recipe.short_ingredients_list(nmax=recipes_list_max) | safe }} -->
            </div>
            <div class="recipe-date"> {{ moment(recipe.timestamp).fromNow() }}</div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endif %}
