{% extends "base.html" %}

{% block title %}TyMenu - {{recipe.title}}{% endblock %}


{% block page_content %}
<div class="page-header">
    <h1> {{recipe.title}} </h1>

    <body>
        <i>By:</i> <a href="{{ url_for('main.profile', id=recipe.author.id) }}">{{ recipe.author.username }}</a>
        <br><i>Added:</i> {{ moment(recipe.timestamp).format("LLL") }}
    </body>
</div>

{% if recipe.background %}
<div>
    <div class="recipe-background>">
        <!-- HTML rendered by server, and thus safe -->
        {{ recipe.background_html | safe }}
    </div>
</div>
{% endif %}

{% if recipe.img_display_url %}
<a href={{ recipe.img_display_url }}>
    <img src={{ recipe.img_display_url }} alt={{ recipe.img_display_url }} border="0" align="right" height="250px">
</a>
{% endif %}

<div>
    <h3> Serving</h3>
    Number of servings: {{ recipe.servings }} <br>
    {% if recipe.kcal %}
    Calories: {{ '%d'|format(recipe.kcal_total|int) }} kcal<br>
    Per Serving: {{ '%d'|format(recipe.kcal_pers|int) }} kcal per person
    {% endif %}
</div>

<div class="menu-ingredients-list">
    <h3>Ingredients</h3>
    <div class="recipe-body>">
        <!-- HTML rendered by server, and thus safe -->
        {{ recipe.ingredients_html | safe }}
    </div>
</div>

<div class="menu-instructions">
    <h3>Instructions</h3>
    <!-- HTML rendered by server, and thus safe -->
    {{ recipe.instructions_html | safe }}
</div>

<div class="menu-additional">
    <!-- Add any additional info -->
    <h3>Additional</h3>

    <!-- Are keywords available? -->
    {% if recipe.keywords %}
    <div class="menu-keywords">
        <i>Keyword(s):</i> {{ recipe.keywords }}
    </div>
    {% endif %}

    <!-- Did we have a source? -->
    {% if recipe.source %}
    <div class="menu-source">
        <i>Source:</i>
        {% if 'http' in recipe.source%}
        <a href="{{recipe.source}}" target="_blank" rel="noopener noreferrer">{{recipe.source}}</a>
        {% elif 'www' in recipe.source %}
        <!-- We have www but not the http(s) -->
        <a href="http://{{recipe.source}}" target="_blank" rel="noopener noreferrer">{{recipe.source}}</a>
        {% else %}
        {{ recipe.source }}
        {% endif %}
    </div>
    {% endif %}
</div>


<div class="recipe-footer">
    {% if current_user.is_mod() %}
    <!-- Upload image button -->
    <a href="{{url_for('.upload_file', recipe_id=recipe.id) }}">
        <span class="label label-primary">Upload Image</span>
    </a>
    <!-- Edit button -->
    <a href="{{url_for('.edit_recipe', recipe_id=recipe.id) }}">
        <span class="label label-primary">Edit</span>
    </a>
    <!-- Delete button -->
    <a class="btn btn-outline-secondary btn-sm" href="{{ url_for('.delete_recipe', recipe_id=recipe.id) }}"
        onclick="return confirm('Are you sure you want to delete this recipe?');">
        <span class="label label-danger">Delete</span>
    </a>
    {% endif %}
    {% if recipe.last_updated %}
    <br><small><i>Last updated: {{ moment(recipe.last_updated).format("LLL") }}</i></small>
    {% endif %}
</div>

{% endblock %}
